body{
    margin: 0%;
    max-width: auto;
}


.boddddy{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


/* full navigation css */
.nav{
    background-color: #1A0B2E;
}

.nav-main-div{
    max-width: 1850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
    
}
/* navigation   "techwave" */


.nav-h2{
    color: white;
    font-weight: bold;
    font-size: 3.7rem;
    margin: 0%;
    
    
}
.text-design-effect{
    background: linear-gradient(to top right,#FE9A37 0%,#A813B7 80%,#7F22FE 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* navigation li */


.ul-div{
    color: white;
    font-weight:500;
    font-size:1rem ;
    

}

.nav-ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    
    
}


/* navigation button */


.common-button-style{


    background: linear-gradient(to top right,#FFDF20 10%,#E12AFB 80%,
     #615FFF 100%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 3.1rem;
    gap: .5rem;
    padding: 1.2rem 1rem ;
    max-height: 1.7rem;

}

.nav-specific-button{
    max-width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    max-width: 8rem;
    margin-top: .8rem;
}


/* body part  */


.section-one{
    
    display: flex;
    justify-content: center;
    background-image:url("B13-A02-TechWave/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-size: cover;
    background-position: center ;
    padding-top: 101px;
    padding-bottom: 101px;
    max-width: auto;
    max-height: 760px;
    
    
}

.section-one-div{
    max-width: 550px;
    max-height: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    
}
.section-one-div-fixed-image{
    max-width: 350px;
    max-height: 350px;
}
.section-one-div-nonfixed-image{
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    top: 77.33px;

}

.COMMON-PARAGRAPH-DESIGN{
    font-weight: 400;
    font-size: 16px;
    color: white;
    opacity: .4;
}
.section-one-child-div{
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-top: 5px;
}

.section-one-child-div-uncommon-button{
    display: flex;
    align-items: center;
    gap:8px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    max-width: 147px;
    max-height: 44px;  
    background: none;
    color: #00FF88;
    border: #00FF88 solid 1.5px;
    border-radius: 50px;
    

}


.challenge-button{
    background-color: #00FF88;
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 38px;
    text-align: center;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 13px;
    left: 350px;
    box-shadow: 0px 0px 10px 0px #00ff88c4;

}



/* section 2  */


.section-two{
    background-color: #1A0B2E;
    color: white;
    max-width: auto;
    max-height: 646px;
}

.section-two-div-one{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;

}
.section-two-div-one-h3{
    margin: 0%;
    font-weight:700; 
    font-size: 48px;
}
.section-two-div-two-h3{
    margin: 0%;
    color: #00FF88;
    font-weight:900; 
    font-size: 48px;
}

.section-two-second-child-div{
    text-align: center;
}

.section-two-child-div{
    display: flex;
    justify-content:space-around;
    padding: 60px;
    max-width: 1900px;
    margin: 0 auto;

}
.section-two-hr{
    width: 970px;
    border: none;
    height: 1.5px;
    background-color: #8b54d8;
}




 /* section-three */



 .section-three{
    background-color: #250f41;
    color: white;
    max-height: auto;
 }

 .section-three-div-one-h3{
    margin: none;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;

 }

 .section-three-div-one-child-div-one{
    grid-area: one;  
 }
 .section-three-div-one-child-div-two{
    grid-area: two;
 }
 .section-three-div-one-child-div-three{
    grid-area: three;
 }
 .section-three-div-one-child-div-four{
    grid-area: four;
 }
 .section-three-div-one-child-div-five{
    grid-area: five;

 }

 .section-three-div-one{
    max-width: 1600px ;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "one two two" 
                         "one three three"
                         "four four five";
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    


 }

 .section-three-div-one-child-div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* text-align: left; */
    background-color: #37156354;
    border: none;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    padding: 40px;
    max-width: 1600px;
    padding: 0 auto;
    
    
 }


.section-three-div-one-child-div-img{
    max-width: 60px;
    max-height: 60px;
}

.section-three-h4{
    margin: none;
    font-weight: 700;
    font-size: 24px;
}


/* section-four */

.section-four{
    background-color: #1A0B2E;
    color: white;
    max-width: auto;
    padding-bottom: 120px;

}
.section-four-h3{
    margin: 0%;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}

.section-four-div-one{
    
    color: white;
    max-width: 1850px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
    margin: 0 auto;
}
.section-four-div-one-child{
    background-color: #37156354;
    max-width: 380px;
    text-align: left;
    border-radius: 40px;
    
}
.section-four-div-one-child-child{
    padding: 0px 24px 24px 24px;   
}
.section-four-div-one-h4{
    font-weight: 700;
    font-size: 24px;

}
.section-four-div-one-p-two{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00FF88;
}

.section-four-div-one-child iframe {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
}


/* section four part 2 */


.section-four-div-one-two-middle-h3{
    font-weight: 700;
    font-size: 48px;
    margin: 0%;
    text-align: center;
    
}

.section-four-div-two-child-h4{
    font-size: 32px;
    font-weight: 700;

}
.section-four-div-two-child-child-img{
    height: 20px;
    width: 20px;
    border: 1px solid #C81CDE;
    padding: 5px;
    border-radius: 50%;
    
}

.section-four-div-two-child-child{
    display: flex;
    gap: 8px;
    
    
}

.section-four-div-two{
    margin: 0 auto;
    background-color:rgba(117, 50, 205, 0.171) ;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 24px;
    max-width: 1650px;
    padding: 30px 53px 53px 53px;
    border-radius: 40px;
    r
}



/* ........................................................footer........................................................... */



.footer{
    background-image: url("B13-A02-TechWave/assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-size: cover;
    background-position: center ;
    max-width: auto;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 120px 0px;
 }

 .nav-h2{
    font-weight: 900;
    font-size: 80px;
    margin: 0%;
 }


 .footer-div-one-child-img{
    height: 24px;
    width: 24px;
 }

 .footer-div-one-child{
    display: flex;
    gap: 8px;
    align-items: center;
 }
 
 .footer-div-one{
    display: flex;
    justify-content: center;
    gap: 40px;
 }








/* .............................................................................responsive........................................................................, */



@media screen and (max-width:576px) {






    
}


