body{
    margin: 0%;
    max-width: auto;
}


.boddddy{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


/* full navigation css */
.nav{
    background-color: #1A0B2E;
}

.nav-main-div{
    display: flex;
    justify-content:space-around;
    
}
/* navigation   "techwave" */


.nav-h2{
    color: white;
    font-weight: bold;
    font-size: 3.75rem;
    margin: 0%;
    
    
}
.text-design-effect{
    background: linear-gradient(to top right,#FE9A37 0%,#A813B7 80%,#7F22FE 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* navigation li */


.ul-div{
    color: white;
    font-weight:500;
    font-size:1rem ;
    

}

.nav-ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    
    
}


/* navigation button */


.common-button-style{


    background: linear-gradient(to top right,#FFDF20 10%,#E12AFB 80%,
     #615FFF 100%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 3.1rem;
    gap: .5rem;
    padding: 1.2rem 1rem ;
    max-height: 1.7rem;

}

.nav-specific-button{
    max-width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    max-width: 8rem;
    margin-top: .8rem;
}


/* body part  */


.section-one{
    
    display: flex;
    justify-content: center;
    background-image:url("B13-A02-TechWave/assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-size: cover;
    background-position: center ;
    padding-top: 101px;
    padding-bottom: 101px;
    max-width: auto;
    max-height: 760px;
    
    
}

.section-one-div{
    max-width: 550px;
    max-height: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    
}
.section-one-div-fixed-image{
    max-width: 350px;
    max-height: 350px;
}
.section-one-div-nonfixed-image{
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    top: 77.33px;

}

.COMMON-PARAGRAPH-DESIGN{
    font-weight: 400;
    font-size: 16px;
    color: white;
    opacity: .4;
}
.section-one-child-div{
    display: flex;
    gap: 8px;
    justify-content: center;
    padding-top: 5px;
}

.section-one-child-div-uncommon-button{
    display: flex;
    align-items: center;
    gap:8px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    max-width: 147px;
    max-height: 44px;  
    background: none;
    color: #00FF88;
    border: #00FF88 solid 1.5px;
    border-radius: 50px;
    

}


.challenge-button{
    background-color: #00FF88;
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 38px;
    text-align: center;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 13px;
    left: 350px;
    box-shadow: 0px 0px 10px 0px #00ff88c4;

}



/* section 2  */


.section-two{
    background-color: #1A0B2E;
    color: white;
    max-width: auto;
    max-height: 646px;
}

.section-two-div-one{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;

}
.section-two-div-one-h3{
    margin: 0%;
    font-weight:700; 
    font-size: 48px;
}
.section-two-div-two-h3{
    margin: 0%;
    color: #00FF88;
    font-weight:900; 
    font-size: 48px;
}

.section-two-second-child-div{
    text-align: center;
}

.section-two-child-div{
    display: flex;
    justify-content:space-around;
    padding: 60px;

}
.section-two-hr{
    width: 970px;
    border: none;
    height: 1.5px;
    background-color: #8b54d8;
}




 /* section-three */



 .section-three{
    background-color: #250f41;
    color: white;
 }

 .section-three-div-one-h3{
    margin: none;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;

 }

 .section-three-div-one{
    max-width: 1200px ;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

 }

 .section-three-div-one-child-div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: auto;
    background-color: #37156354;
 }


.section-three-div-one-child-div-img{
    max-width: 60px;
    max-height: 60px;
}

.section-three-h4{
    margin: none;
    font-weight: 700;
    font-size: 24px;
}



